<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="multiple-extensions" sequenceNumber="7">
  <locations>

    <!-- Graphiti -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.9.1.v20120919-0732"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.9.1.v20120919-0732"/>
      <unit id="org.eclipse.graphiti.mm" version="0.9.1.v20120919-0732"/>
      <repository location="http://download.eclipse.org/graphiti/updates/0.9.1"/>
    </location>

    <!-- EMF -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="1.2.2.v20120214-0915"/>
      <unit id="org.eclipse.emf.compare.mpatch.feature.group" version="1.2.2.v20120214-0915"/>
      <unit id="org.eclipse.emf.compare.ui.capabilities.feature.group" version="1.2.2.v20120214-0915"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/1.2"/>
    </location>

    <!-- BPMN2 - Feature -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <!-- TODO: Need to get these artifacts from a more stable site -->
      <repository location="https://hudson.eclipse.org/hudson/job/bpmn2-nightly/ws/org.eclipse.bpmn2.site/target/site"/>
      <unit id="org.eclipse.bpmn2.feature.feature.group" version="0.7.0.201211251037"/>
    </location>

    <!-- BPMN - Modeler -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.bpmn2.modeler.feature.feature.group" version="0.1.0.201211132058"/>
      <repository location="http://download.eclipse.org/bpmn2-modeler/site/0.1.0"/>
    </location>

    <!-- BPEL -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.bpel.common.feature.feature.group" version="1.0.2.v20121121-1634-CI"/>
      <unit id="org.eclipse.bpel.feature.feature.group" version="1.0.2.v20121121-1634-CI"/>
      <unit id="org.eclipse.bpel.help" version="1.0.2.v20121121-1634-CI"/>
      <unit id="org.eclipse.bpel.apache.ode.runtime.feature.feature.group" version="1.0.2.v20121121-1634-CI"/>
      <repository location="http://download.eclipse.org/bpel/site/"/>
    </location>

    <!-- Modeling - MDT -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.ocl.all.feature.group" version="4.0.1.v20120917-1739"/>
      <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/"/>
    </location>

    <!-- Modeling - EMF -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.query.ocl.feature.group" version="1.6.0.v20120425-2310-3--7w311A232602735"/>
      <repository location="http://download.eclipse.org/modeling/emf/updates/releases/"/>
    </location>

    <!-- JBoss Tools Core -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/nightly/core/4.0.juno/"/>
      <!-- Required by Teiid Designer -->
      <unit id="org.jboss.ide.eclipse.as.core" version="0.0.0"/>
      <unit id="org.jboss.ide.eclipse.as.dmr" version="0.0.0"/>
      <unit id="org.jboss.ide.eclipse.as.management.core" version="0.0.0"/>
      <unit id="org.jboss.ide.eclipse.as.ui" version="0.0.0"/>
      <!-- Required by ModeShape Tools -->
      <unit id="org.jboss.tools.usage" version="0.0.0"/>
      <!-- Required by Switchyard Tools -->
      <unit id="org.jboss.ide.eclipse.freemarker.feature.feature.group" version="0.0.0"/>
      <!-- Required by BPEL -->
      <unit id="org.jboss.tools.jmx.core" version="0.0.0"/>
      <unit id="org.jboss.ide.eclipse.archives.webtools" version="0.0.0"/>
    </location>

    <!-- JBoss Tools Core Tests -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/nightly/coretests/4.0.juno/"/>
      <!-- Required by BPEL -->
      <unit id="org.jboss.tools.tests" version="0.0.0"/>
    </location>
  </locations>
</target>
